@model IEnumerable<AsusLaptop.Models.Product>

@{
    ViewBag.Title = "Products";
}


<div class="col-12 mt-5">
    <div class="card">
        <div class="card-header">
            <p>
                <a href="@Url.Action("Create","Products")" class="text-danger btn btn-dark">Create New @ViewBag.Title</a>
            </p>
        </div>
        <div class="card-body">
            <div class=" d-flex justify-content-between">
                <h4 class="header-title">@ViewBag.Title</h4>
                
            </div>

            <div class="single-table">
                <div class="table-responsive">
                    <table id="dataTable" class="table table-hover progress-table text-center">
                        <thead class="text-uppercase">
                            <tr>
                                <th>Actions</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsNew)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ImageS)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Brand)
                                    @Html.DisplayNameFor(model => model.Model)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Discount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Processor)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Memory)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Storage)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Display)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreateAt)
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                            <tr>

                                <td>
                                    <ul class="d-flex justify-content-center">
                                        <li class="mr-3">

                                            <a href="@Url.Action("Edit","Products",new {id=item.Id })" class="text-secondary"><i class="fa fa-edit"></i></a>
                                        </li>
                                        @if (!item.OrderItems.Any())
                                        {
                                            <li class="mr-3">
                                                <a href="@Url.Action("Delete","Products",new {id=item.Id })" class="text-danger delete"><i class="ti-trash"></i></a>
                                            </li>
                                        }
                                        <li>
                                            <a href="@Url.Action("Details","Products",new {id=item.Id })" class="text-danger "><i class="ti-eye"></i></a>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    @if (item.Status)
                                    {
                                        <span class="alert alert-success">Active</span>
                                    }
                                    else
                                    {
                                        <span class="alert alert-info">Passive</span>
                                    }

                                </td>
                                <td>
                                    @if (item.IsNew)
                                    {
                                    <span class="alert alert-success">IsNew</span>
                                    }
                                    else
                                    {
                                        <span class="alert alert-info">Passive</span>
                                    }

                                </td>

                                <td><img style="width:200px" src="~/Public/img/@item.ImageS" class="img-fluid"></td>
                                @*<td>@item.ImageS</td>*@
                                <td>@item.Category.Name</td>
                                <td> @item.Brand . @item.Model</td>
                                <td>@item.Price</td>
                                <td>@item.Discount</td>
                                <td>@item.Processor</td>
                                <td>@item.Memory</td>
                                <td>@item.Storage</td>
                                <td>@item.Display</td>
                                <td>@item.CreateAt</td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section styles{
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

}
@section scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            if ($('#dataTable').length) {
                $('#dataTable').DataTable({
                    responsive: true
                });
            }
        });
    </script>
}

