
@model IEnumerable<AsusLaptop.Models.Product>
@{
    ViewBag.Title = "Filter";
}



<!-- #region static banner -->
<section style="background:#f6f6f6;">
    <div class="breadcrumb-area common-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <h1>shop</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("Index","Shop")"><i class="fa fa-home"></i></a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">shop</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #endregion banner-->
<!-- region shop -->
<section class="section-space shop">
    <div class="container-fluid">
        <div class="row">
            <!-- #region categories -->
            <!-- <div class="col-lg-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">Category 1</a>
                    <a href="#" class="list-group-item">Category 1</a>
                    <a href="#" class="list-group-item">Category 1</a>
                </div>
            </div> -->
            <div class="col-lg-3 ">
                <aside class="sidebar-wrapper">
                    <!-- single sidebar start categories -->
                    <div class="sidebar-single">
                        <div class="blog-sidebar">
                            <h3 class="title">Search</h3>
                            <div class="sidebar-serch-form">
                                <form action="#">
                                    <input type="text" class="search-field" placeholder="search here">
                                    <button type="submit" class="search-btn">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- single sidebar end -->
                    <!-- single sidebar start categories -->
                    <div class="sidebar-single d-none  d-lg-block">
                        <div class="blog-sidebar">
                            <h3 class="title">Categories</h3>
                            <div class="sidebar-body">
                                <ul class="shop-categories">
                                    @*//partials*@
                                    @Html.Action("Categories", "Shop")
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- single sidebar end -->
                    <!-- single sidebar start price -->
                    <div class="sidebar-single d-none  d-lg-block">
                        <div class="blog-sidebar">
                            <h3 class="title">Price</h3>
                            <div class="sidebar-body">
                                <ul class="shop-categories">
                                    <li><a href="/AllProducts/Filter?orderBy=exp">Price high to low</a></li>
                                    <li><a href="/AllProducts/Filter?orderBy=cheap">Price low to high</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <!-- single sidebar end -->
                    <!-- single sidebar start memory -->
                    <div class="sidebar-single d-none  d-lg-block">
                        <div class="blog-sidebar">
                            <h3 class="title">Memory</h3>
                            <div class="sidebar-body">
                                <ul class="shop-categories">
                                    <li><a href="/AllProducts/Filter?orderBy=4GB">4GB</a></li>
                                    <li><a href="/AllProducts/Filter?orderBy=8GB">8GB</a></li>
                                    <li><a href="/AllProducts/Filter?orderBy=16GB">16GB</a></li>
                                    <li><a href="/AllProducts/Filter?orderBy=32GB">32GB</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <!-- single sidebar end -->
                    <!-- single sidebar start storage -->
                    <div class="sidebar-single d-none  d-lg-block">
                        <div class="blog-sidebar">
                            <h3 class="title">Storage</h3>
                            <div class="sidebar-body">
                                <ul class="shop-categories">
                                    <li><a href="/AllProducts/Filter?orderBy=256GB">256GB</a></li>
                                    <li><a href="/AllProducts/Filter?orderBy=512GB">512GB</a></li>
                                    <li><a href="/AllProducts/Filter?orderBy=1TB">1TB</a></li>
                                    @*<li><a href="/AllProducts/Filter?orderBy=32GB">32GB</a></li>*@
                                </ul>
                            </div>
                        </div>

                    </div>
                    <!-- single sidebar end -->
                    <!-- mobile categories -->
                    <div class="row d-lg-none  d-md-block">
                        <div class="col-12">

                            <div class="checkoutaccordion" id="checkOutAccordion">
                                <div class="card">
                                    <h3>
                                        Categories <span data-toggle="collapse"
                                                         data-target="#logInaccordion">
                                            Click
                                            View Categories
                                        </span>
                                    </h3>
                                    <div id="logInaccordion" class="collapse" data-parent="#checkOutAccordion">
                                        <div class="card-body">
                                            <!-- single sidebar start categories -->
                                            <div class="sidebar-single">
                                                <div class="blog-sidebar">
                                                    <h3 class="title">Categories</h3>
                                                    <div class="sidebar-body">
                                                        <ul class="shop-categories">
                                                            @Html.Action("Categories", "Shop")
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single sidebar start categories -->
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <h3>
                                        Price <span data-toggle="collapse" data-target="#couponaccordion">
                                            Click
                                            Price filter
                                        </span>
                                    </h3>
                                    <div id="couponaccordion" class="collapse" data-parent="#checkOutAccordion">
                                        <div class="card-body">
                                            <div class="cart-update-option">
                                                <!-- single sidebar start price -->
                                                <div class="sidebar-single">
                                                    <div class="blog-sidebar">
                                                        <h3 class="title">Price</h3>
                                                        <div class="sidebar-body">
                                                            <ul class="checkbox-container categories-list">
                                                                <li><a href="/AllProducts/Filter?orderBy=exp">Price high to low</a></li>
                                                                <li><a href="/AllProducts/Filter?orderBy=cheap">Price low to high</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- single sidebar end -->
                                                <!-- single sidebar start memory -->
                                                <div class="sidebar-single">
                                                    <div class="blog-sidebar">
                                                        <h3 class="title">Memory</h3>
                                                        <div class="sidebar-body">
                                                            <ul class="shop-categories">
                                                                <li><a href="/AllProducts/Filter?orderBy=4GB">4GB</a></li>
                                                                <li><a href="/AllProducts/Filter?orderBy=8GB">8GB</a></li>
                                                                <li><a href="/AllProducts/Filter?orderBy=16GB">16GB</a></li>
                                                                <li><a href="/AllProducts/Filter?orderBy=32GB">32GB</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- single sidebar end -->
                                                <!-- single sidebar start storage -->
                                                <div class="sidebar-single">
                                                    <div class="blog-sidebar">
                                                        <h3 class="title">Storage</h3>
                                                        <div class="sidebar-body">
                                                            <ul class="shop-categories">
                                                                <li><a href="/AllProducts/Filter?orderBy=256GB">256GB</a></li>
                                                                <li><a href="/AllProducts/Filter?orderBy=512GB">512GB</a></li>
                                                                <li><a href="/AllProducts/Filter?orderBy=1TB">1TB</a></li>
                                                                @*<li><a href="/AllProducts/Filter?orderBy=32GB">32GB</a></li>*@
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- single sidebar end -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- mobile categories -->

                </aside>
            </div>
            <!-- #endregion categories -->
            <!-- region products -->
            <div class="col-lg-9">
                <div id="product-row" class="row">
                    @Html.Partial("_Products", Model)
                    @*<div style="width: 100%;" class="paginatoin-area text-center">
                            <ul class="pagination-box">
                                <li><a class="previous" href="#"><i class="fas fa-chevron-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a class="next" href="#"><i class="fas fa-chevron-right"></i></a></li>
                            </ul>
                        </div>*@
                </div>
            </div>
            <!-- #endregion products -->

        </div>
    </div>
</section>
<!-- #endregion shop -->
<!-- #region compare modal desktop -->
<a href="#" data-target=".compare" class="minicart-btn openBtn d-none  d-md-block compareOpen">
    <i class="fas fa-chevron-up">
        <span class="tooltip-text">Compare</span>
    </i>
</a>
<div class="compare fade d-none  d-md-block border-0 ">
    <div style="border-top: 1px solid #555;" class="modal-content ">
        <div class="modal-body border-0">
            <div class="row">
                <div class="col-3 text">
                    <h3>Product Comparison</h3>
                    <p class="d-none  d-lg-block">
                        Product added to comparison. Add up to 4 products or proceed
                        to view compare products
                        selected.
                    </p>
                    <a href="compare.html">Compare</a>
                </div>
                <div class="col-8 product-det">
                    <div id="line" class="row ">
                        <!-- <div class="col-3 compare-product ">
                            <div id="" class="minicart-thumb">
                                <ul>
                                    <li>
                                        <a href="product-details.html">
                                            <img id="p-img" src="">
                                        </a>
                                    </li>
                                    <li>
                                        <a id="p-name" href="product-details.html"></a>
                                    </li>
                                </ul>
                            </div>
                            <button class="minicart-remove"><span aria-hidden="true">×</span></button>
                        </div> -->
                    </div>
                </div>
                <div class="col-1 ">
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- #endregion compare -->
<!-- #region compare modal mobile-->
<a href="#" data-target=".compareMobile" class="openBtnM compareOpenM d-md-none d-sm-block btn btn-dark mr-2">
    <i class="fas fa-chevron-up"></i>
</a>
<div class="compareMobile fade  d-md-none d-sm-block border-0">
    <div style="border-top: 1px solid #555;" class="modal-content">
        <div class="modal-header border-0 p-1">
            <p>Product Comparison</p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body border-0 pb-0 pt-0">
            <div class="row">
                <div class="col-12 product-det">
                    <div id="lineM" class="row ">
                        <!-- <div class="col-6 compare-product text-center p-0 ">
                            <div id="" class="minicart-thumb">
                                <ul>
                                    <li>
                                        <a href="product-details.html">
                                            <img id="p-img" src="~/Public/template/img/product/mini.jpg">
                                        </a>
                                    </li>
                                    <li>
                                        <a id="p-name" style="font-size: 12px;"  href="product-details.html">Asus Zenbook 14</a>
                                    </li>
                                </ul>
                            </div>
                            <button class="minicart-removeM"><span aria-hidden="true">×</span></button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer border-0 p-0 pb-1 justify-content-center">
            <a class="btn btn-dark" href="compare.html">Compare</a>
        </div>
    </div>
</div>
<!-- #endregion compare mobile -->
<!-- #region Quick view modal start -->
@Html.Partial("_QuickView")
<!-- #endregion  Quick view modal end -->
@section scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

}

