@model IEnumerable<AsusLaptop.Models.Product>
@{
    ViewBag.Title = "Checkout";
}

<!-- #region static banner -->
<section style=" background-color: rgb(15, 14, 14,0.1234);">
    <div class="breadcrumb-area common-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <h1>checkout</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Shop")">shop</a></li>
                                <li id="Li" class="breadcrumb-item active " aria-current="page">checkout</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #endregion banner-->
<!-- checkout main wrapper start -->
<div class="checkout-page-wrapper section-space">
    <div class="container">
        <div class="row">
            <div class="col-12">
                
            </div>
        </div>
        <div class="row">
            <!-- Order Summary Details -->
            <div class="col-lg-12">
                <div class="order-summary-details">
                    <h2>Your Order Summary</h2>
                    <div class="order-summary-content">
                        <!-- Order Summary Table -->
                        <div class="order-summary-table table-responsive text-center">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Products</th>
                                        <th>Total</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="Checkelement" data-price="@((item.Price - (item.Price * item.Discount / 100)).ToString("##.###"))" data-id="@item.Id" id="@item.Id">
                                            <td>
                                                <div class="d-flex justify-content-around align-items-center">
                                                    <div>
                                                        <a href="/product/name-@item.Category.Name.Replace(" ", "")-@item.Model.Replace(" ", "")/@item.Id">
                                                            <img src="/Public/img/@item.ImageS" alt="product">
                                                        </a>

                                                    </div>
                                                    <div>
                                                        <a href="/product/name-@item.Category.Name.Replace(" ", "")-@item.Model.Replace(" ", "")/@item.Id">@item.Category.Name.Replace(" ", "")<br />@item.Model.Replace(" ", "")</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                @if (item.Discount != 0)
                                                {
                                                    <span class="price-regular">$@((item.Price - (item.Price * item.Discount / 100)).ToString("##.###") )</span>
                                                    <span class="price-old"><del>$@(item.Price.ToString("##.###"))</del></span>
                                                    // <span class="price-old"><del>$@(item.Price.ToString("##.###"))</del></span> @((item.Price - (item.Price * item.Discount / 100)).ToString("##.###") )
                                                }
                                                else
                                                {
                                                    <span class="price-regular">$@(item.Price.ToString("##.###"))</span>

                                                }
                                            </td>
                                            
                                            <td class="minicart-remove mcremove"><span style="font-size: 33px;" aria-hidden="true">×</span></td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Sub Total</td>
                                        <td colspan="2" class="price-regular" id="SubTotalCheck">$</td>
                                    </tr>
                                   
                                </tfoot>
                            </table>
                        </div>
                        
                    </div>
                </div>
                <div class="row justify-content-end mt-5 mr-3">
                    <div style="width: 25%;" class="minicart-button ">
                        <a href="/Checkout"><i class="fa fa-share"></i> checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- checkout main wrapper end -->
@section styles{
<style>
    .minicart-button a {
        color: #fff;
        font-size: 13px;
        display: block;
        font-weight: 500;
        line-height: 1;
        padding: 17px 0;
        background-color: #242424;
        text-transform: uppercase;
        border-radius: 40px;
        text-align: center;
        margin-bottom: 10px;
    }
        .minicart-button a:hover {
            background-color: #cc2121;
            color: #fff;
        }
    </style>
    }
