@model IEnumerable<AsusLaptop.Models.Product>
@{
    ViewBag.Title = "Checkout";
}

<!-- #region static banner -->
<section style=" background-color: rgb(15, 14, 14,0.1234);">
    <div class="breadcrumb-area common-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <h1>checkout</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Shop")">shop</a></li>
                                <li id="Li" class="breadcrumb-item active " aria-current="page">checkout</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #endregion banner-->
<!-- checkout main wrapper start -->
<div class="checkout-page-wrapper section-space">
    <div class="container">
        <div class="row">
            <div class="col-12">

            </div>
        </div>
        <div class="row">
            <!-- Order Summary Details -->
            <div class="col-lg-12">
                <div class="order-summary-details">
                    <h2>Your Order Summary</h2>
                    <div class="order-summary-content">
                        <!-- Order Summary Table -->
                        <div class="order-summary-table table-responsive text-center">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Products</th>
                                        <th>Total</th>
                                        @* <th>Action</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="Checkelement" data-price="@((item.Price - (item.Price * item.Discount / 100)).ToString("##.###"))" data-id="@item.Id" id="@item.Id">
                                            <td>
                                                <div class="d-flex justify-content-around align-items-center">
                                                    <div>
                                                        <a href="/product/name-@item.Category.Name.Replace(" ", "")-@item.Model.Replace(" ", "")/@item.Id">
                                                            <img src="/Public/images/@item.ImageS" alt="product">
                                                        </a>

                                                    </div>
                                                    <div>
                                                        <a href="/product/name-@item.Category.Name.Replace(" ", "")-@item.Model.Replace(" ", "")/@item.Id">@item.Category.Name.Replace(" ", "")<br />@item.Model.Replace(" ", "")</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                @if (item.Discount != 0)
                                                {
                                                    <span class="price-regular">$@((item.Price - (item.Price * item.Discount / 100)).ToString("##.###") )</span>
                                                    <span class="price-old"><del>$@(item.Price.ToString("##.###"))</del></span>
                                                    // <span class="price-old"><del>$@(item.Price.ToString("##.###"))</del></span> @((item.Price - (item.Price * item.Discount / 100)).ToString("##.###") )
                                                }
                                                else
                                                {
                                                    <span class="price-regular">$@(item.Price.ToString("##.###"))</span>

                                                }
                                            </td>

                                            @*<td class="minicart-remove mcremove"><span style="font-size: 33px;" aria-hidden="true">×</span></td>*@
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Sub Total</td>
                                        <td colspan="2" class="price-regular" id="SubTotalCheck">$</td>
                                    </tr>

                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="mt-5 mr-3 row">
                    <div  class="minicart-button col-lg-4">
                        <a href="/Shop/Index"><i class="fas fa-shopping-bag"></i>Continue Shopping</a>
                    </div>
                    <div  data-toggle="modal" data-target="#MiniCard" class="minicart-button col-lg-4">
                        <a href="#"><i class="fa fa-cart-arrow-down"></i>View Cart</a>
                    </div>
                    <div  class="minicart-button col-lg-4" data-toggle="modal" data-target="#OrderConfirm">
                        <a href="#"><i class="fa fa-share"></i> Confirm Orders</a>
                    </div>
                </div>
                @*<div class="row mt-5 mr-3 d-lg-none  d-md-block">
                    <div  class="minicart-button col-lg-12 ">
                        <a href="/Shop/Index"><i class="fas fa-shopping-bag"></i>Continue Shopping</a>
                    </div>
                    <div  data-toggle="modal" data-target="#MiniCard" class="minicart-button col-lg-12">
                        <a href="#"><i class="fa fa-cart-arrow-down"></i>View Cart</a>
                    </div>
                    <div  class="minicart-button col-lg-12" data-toggle="modal" data-target="#OrderConfirm">
                        <a href="#"><i class="fa fa-share"></i> Confirm Orders</a>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
<!-- checkout main wrapper end -->
<!-- confirm order  -->
<div class="modal fade" id="OrderConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-3 mb-3" id="exampleModalLabel">Order Confirm Dialog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <blockquote class="m-0">
                    <p>
                        Please enter your phone number! 
                        <br />Your team will contact you at the nearest time!
                    </p>
                </blockquote>
                <form action="@Url.Action("CreateOrder","Checkout")" method="post">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="PhoneNumber" class="col-form-label">Phone:</label>
                        <input type="text" name="PhoneNumber" class="form-control" id="PhoneNumber">
                        @Html.ValidationMessage("PhoneNumber", "", new { @class = "text-danger mb-1" })
                    </div>
                    <div class="form-group text-right">

                        <button style="border-color: #fff; color: #fff;font-size: 13px; line-height: 1; padding:17px 26px; text-transform: uppercase;text-align: center;margin-bottom: 10px;border-radius: 11px;  background-color: #242424;" type="submit" class="minicart-button">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- confirm order wrapper end -->

@section styles{
    <style>
        .minicart-button a {
            color: #fff;
            font-size: 13px;
            display: block;
            font-weight: 500;
            line-height: 1;
            padding: 17px 0;
            background-color: #242424;
            text-transform: uppercase;
            border-radius: 40px;
            text-align: center;
            margin-bottom: 10px;
        }

            .minicart-button a:hover {
                background-color: #cc2121;
                color: #fff;
            }

        
    </style>
}
