@using AsusLaptop.Models;
@model AsusLaptop.Models.ViewModel.HomeVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--#region slider area start -->
<section class="mt-5">
    <div class="thing" id="wrapper">
        @foreach (var item in Model.Sliders)
        {
            <div><img src="~/Public/images/@item.Image" alt="slider image"></div>

        }
    </div>
</section>
<!--#endregion slider area end -->
<!-- region banner -->
<section>
    <div class="container-fluid">
        <div class="row ">
            @foreach (var item in Model.Banners)
            {
                <div class="col-md-6">

                    <div class="blog-post-item mb-30">
                        <figure style="height:150px;" class="blog-thumb">
                            <a href="@Url.Action("Index","Shop")">
                                <img src="~/Public/images/@item.Image" alt="blog image">
                            </a>
                        </figure>
                    </div>
                </div>
            }
        </div>
    </div>

</section>
<!-- endregion banner -->
<!-- region tab section new trend sales -->
<section class="section-space pb-0">
    <div class="tabs js-tabs">
        <div class="tabs-nav js-tabs-nav text-center" id="example">
            <ul class="tabs-nav__list">
                <li class="tabs-nav__item js-tabs-item active">
                    <a class="tabs-nav__link js-tabs-link" href="#tab-1">Trend</a>
                </li>
                <li class="tabs-nav__item js-tabs-item">
                    <a class="tabs-nav__link js-tabs-link" href="#tab-2">Sale</a>
                </li>
                <li class="tabs-nav__item js-tabs-item">
                    <a class="tabs-nav__link js-tabs-link" href="#tab-3">New</a>
                </li>
            </ul>
            <span class="tabs-nav__drag js-tabs-drag"></span>
        </div>
        <div class="tabs-content js-tabs-wrap">
            <div class="tab js-tabs-content active" id="tab-1">
                <!--#region trend trending product area start -->
                <section>
                    <div class="container cta-100 ">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="section-title text-center mb-5">
                                        <h2>Trend Products</h2>
                                        <p>Accumsan vitae pede lacus ut ullamcorper sollicitudin quisque libero</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row blog mb-4">
                                <div class="col-md-12">
                                    <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#blogCarousel" data-slide-to="1"></li>
                                        </ol>
                                        <!-- Carousel items -->
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="row">
                                                    @foreach (var item in Model.Products)
                                                    {
                                                        <!-- region product single  -->
                                                        <div class="col-lg-4 col-md-6 mb-4 product-single"
                                                             data-id="@item.Id"
                                                             data-photo="/Public/images/@item.ImageS"
                                                             data-image="/Public/images/@item.ImageL"
                                                             data-model="@item.Brand  @item.Category.Name @item.Model"
                                                             data-name="@item.Brand @item.Model"
                                                             data-category="@item.Category.Name.Replace(" ","-")"
                                                             data-href="@item.Model.Replace(" ","-")"
                                                             data-storage="@item.Storage"
                                                             data-memory="@item.Memory"
                                                             data-display="@item.Display"
                                                             data-processor="@item.Processor"
                                                             data-graphic="@item.Graphic"
                                                             data-dimensions="@item.Dimensions"
                                                             data-weight="@item.Weight"
                                                             data-discount="@item.Discount"
                                                             data-system="@item.OperatingSystem"
                                                             data-price="@item.Price.ToString("##.##")">
                                                            <div class="card h-100">
                                                                <div class="card-header border-0 d-flex">
                                                                    @if (item.IsNew)
                                                                    {
                                                                        <div class="product-label new mr-3">
                                                                            <span>new</span>
                                                                        </div>
                                                                    }
                                                                    @if (item.Discount != 0)
                                                                    {
                                                                        <div class="product-label discount">
                                                                            <span>@item.Discount %</span>
                                                                        </div>
                                                                    }
                                                                    <div class="product-label discount ml-3">
                                                                        <span>@item.Display</span>
                                                                    </div>
                                                                </div>
                                                                <a href="/product/name-@item.Category.Name.Replace(" ","")-@item.Model.Replace(" ","")/@item.Id">
                                                                    <img src="~/Public/images/@item.ImageL" alt="laptop" class="card-img-top">
                                                                </a>
                                                                <div class="card-body">
                                                                    <div class="product-caption card-text">
                                                                        <div class="row">
                                                                            <p class="product-name font-weight-bold ">
                                                                                <a href="/product/name-@item.Category.Name.Replace(" ","")-@item.Model.Replace(" ","")/@item.Id">@item.Brand @item.Category.Name <br />@item.Model</a>
                                                                            </p>
                                                                            <p class="product-name ">
                                                                                @item.Processor, @item.Memory, @item.Storage, @item.OperatingSystem, @item.Display
                                                                            </p>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="price-box">

                                                                                @if (item.Discount != 0)
                                                                                {
                                                                                    <span class="price-regular">$@((item.Price - (item.Price * item.Discount / 100)).ToString("##.###") )</span>
                                                                                    <span class="price-old"><del>$@(item.Price.ToString("##.###"))</del></span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span class="price-regular">$@(item.Price.ToString("##.###"))</span>
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="card-footer d-none  d-md-block">
                                                                    <div class="pro-btns d-flex justify-content-between ">
                                                                        @*<div class="wish mr-3">
                                                                                <a href="#"><i class="far  fa-heart"></i></a>
                                                                            </div>*@
                                                                        <div class="quickView d-none  d-md-block mr-3">
                                                                            <a class="showModal open-qv" href="#" data-toggle="modal"
                                                                               data-target=".quickViewModal"><i class="fas fa-search"></i></a>
                                                                        </div>
                                                                        <div class="add-to-card mr-1 ">
                                                                            <a href="#" data-id="@item.Id"
                                                                               class="minicart-btn minicartBtn open-card btn btn-cart2">
                                                                                <i class="fa fa-cart-arrow-down"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="card-footer  d-lg-none  d-md-block ">
                                                                    <div class="pro-btns d-flex justify-content-end">

                                                                        <div class="add-to-card mr-1 ">
                                                                            <a href="#" data-id="@item.Id"
                                                                               class="minicart-btn minicartBtn open-card btn btn-cart2">
                                                                                <i class="fa fa-cart-arrow-down"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- #endregion product single  -->
                                                    }


                                                </div>
                                                <!--.row-->
                                            </div>
                                            <!--.item-->
                                            <div class="carousel-item ">
                                                <div class="row">
                                                    @foreach (var item in Model.Products)
                                                    {
                                                        <!-- region product single  -->
                                                        <div class="col-lg-4 col-md-6 mb-4 product-single"
                                                             data-id="@item.Id"
                                                             data-photo="/Public/images/@item.ImageS"
                                                             data-image="/Public/images/@item.ImageL"
                                                             data-model="@item.Brand  @item.Category.Name @item.Model"
                                                             data-name="@item.Brand @item.Model"
                                                             data-category="@item.Category.Name.Replace(" ","-")"
                                                             data-href="@item.Model.Replace(" ","-")"
                                                             data-storage="@item.Storage"
                                                             data-memory="@item.Memory"
                                                             data-display="@item.Display"
                                                             data-processor="@item.Processor"
                                                             data-graphic="@item.Graphic"
                                                             data-dimensions="@item.Dimensions"
                                                             data-weight="@item.Weight"
                                                             data-discount="@item.Discount"
                                                             data-system="@item.OperatingSystem"
                                                             data-price="@item.Price.ToString("##.##")">
                                                            <div class="card h-100">
                                                                <div class="card-header border-0 d-flex">
                                                                    @if (item.IsNew)
                                                                    {
                                                                        <div class="product-label new mr-3">
                                                                            <span>new</span>
                                                                        </div>
                                                                    }
                                                                    @if (item.Discount != 0)
                                                                    {
                                                                        <div class="product-label discount">
                                                                            <span>@item.Discount %</span>
                                                                        </div>
                                                                    }
                                                                    <div class="product-label discount ml-3">
                                                                        <span>@item.Display</span>
                                                                    </div>
                                                                </div>
                                                                <a href="/product/name-@item.Category.Name.Replace(" ","")-@item.Model.Replace(" ","")/@item.Id">
                                                                    <img src="~/Public/images/@item.ImageL" alt="laptop" class="card-img-top">
                                                                </a>
                                                                <div class="card-body">
                                                                    <div class="product-caption card-text">
                                                                        <div class="row">
                                                                            <p class="product-name font-weight-bold ">
                                                                                <a href="/product/name-@item.Category.Name.Replace(" ","")-@item.Model.Replace(" ","")/@item.Id">@item.Brand @item.Category.Name <br />@item.Model</a>
                                                                            </p>
                                                                            <p class="product-name ">
                                                                                @item.Processor, @item.Memory, @item.Storage, @item.OperatingSystem, @item.Display
                                                                            </p>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="price-box">

                                                                                @if (item.Discount != 0)
                                                                                {
                                                                                    <span class="price-regular">$@((item.Price - (item.Price * item.Discount / 100)).ToString("##.###") )</span>
                                                                                    <span class="price-old"><del>$@(item.Price.ToString("##.###"))</del></span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span class="price-regular">$@(item.Price.ToString("##.###"))</span>
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="card-footer d-none  d-md-block">
                                                                    <div class="pro-btns d-flex justify-content-between ">
                                                                        @*<div class="wish mr-3">
                                                                                <a href="#"><i class="far  fa-heart"></i></a>
                                                                            </div>*@
                                                                        <div class="quickView d-none  d-md-block mr-3">
                                                                            <a class="showModal open-qv" href="#" data-toggle="modal"
                                                                               data-target=".quickViewModal"><i class="fas fa-search"></i></a>
                                                                        </div>
                                                                        <div class="add-to-card mr-1 ">
                                                                            <a href="#" data-id="@item.Id"
                                                                               class="minicart-btn minicartBtn open-card btn btn-cart2">
                                                                                <i class="fa fa-cart-arrow-down"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="card-footer  d-lg-none  d-md-block ">
                                                                    <div class="pro-btns d-flex justify-content-end">

                                                                        <div class="add-to-card mr-1 ">
                                                                            <a href="#" data-id="@item.Id"
                                                                               class="minicart-btn minicartBtn open-card btn btn-cart2">
                                                                                <i class="fa fa-cart-arrow-down"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- #endregion product single  -->
                                                    }
                                                </div>
                                                <!--.row-->
                                            </div>
                                            <!--.item-->
                                        </div>
                                        <!--.carousel-inner-->
                                    </div>
                                    <!--.Carousel-->
                                </div>
                            </div>
                            <div class="row justify-content-center  mb-5">
                                <a href="@Url.Action("Index","Shop")" class="btn-hero" tabindex="0">view more</a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- #endregion trend  product area start -->
            </div>
            <div class="tab js-tabs-content" id="tab-2">
                <!--#region SALE product area start -->
                <section>
                    <div class="container cta-100 ">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="section-title text-center mb-5">
                                        <h2>Sale Products</h2>
                                        <p>Accumsan vitae pede lacus ut ullamcorper sollicitudin quisque libero</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @foreach (var item in Model.ProductsDiscount)
                                {
                                    <!-- region product single  -->
                                    <div class="col-lg-4 col-md-6 mb-4 product-single"
                                         data-id="@item.Id"
                                         data-photo="/Public/images/@item.ImageS"
                                         data-image="/Public/images/@item.ImageL"
                                         data-model="@item.Brand  @item.Category.Name @item.Model"
                                         data-name="@item.Brand @item.Model"
                                         data-category="@item.Category.Name.Replace(" ","-")"
                                         data-href="@item.Model.Replace(" ","-")"
                                         data-storage="@item.Storage"
                                         data-memory="@item.Memory"
                                         data-display="@item.Display"
                                         data-processor="@item.Processor"
                                         data-graphic="@item.Graphic"
                                         data-dimensions="@item.Dimensions"
                                         data-weight="@item.Weight"
                                         data-discount="@item.Discount"
                                         data-system="@item.OperatingSystem"
                                         data-price="@item.Price.ToString("##.##")">
                                        <div class="card h-100">
                                            <div class="card-header border-0 d-flex">
                                                @if (item.IsNew)
                                                {
                                                    <div class="product-label new mr-3">
                                                        <span>new</span>
                                                    </div>
                                                }
                                                @if (item.Discount != 0)
                                                {
                                                    <div class="product-label discount">
                                                        <span>@item.Discount %</span>
                                                    </div>
                                                }
                                                <div class="product-label discount ml-3">
                                                    <span>@item.Display</span>
                                                </div>
                                            </div>
                                            <a href="/product/name-@item.Category.Name.Replace(" ","")-@item.Model.Replace(" ","")/@item.Id">
                                                <img src="~/Public/images/@item.ImageL" alt="laptop" class="card-img-top">
                                            </a>
                                            <div class="card-body">
                                                <div class="product-caption card-text">
                                                    <div class="row">
                                                        <p class="product-name font-weight-bold ">
                                                            <a href="/product/name-@item.Category.Name.Replace(" ","")-@item.Model.Replace(" ","")/@item.Id">@item.Brand @item.Category.Name <br />@item.Model</a>
                                                        </p>
                                                        <p class="product-name ">
                                                            @item.Processor, @item.Memory, @item.Storage, @item.OperatingSystem, @item.Display
                                                        </p>
                                                    </div>
                                                    <div class="row">
                                                        <div class="price-box">

                                                            @if (item.Discount != 0)
                                                            {
                                                                <span class="price-regular">$@((item.Price - (item.Price * item.Discount / 100)).ToString("##.###") )</span>
                                                                <span class="price-old"><del>$@(item.Price.ToString("##.###"))</del></span>
                                                            }
                                                            else
                                                            {
                                                                <span class="price-regular">$@(item.Price.ToString("##.###"))</span>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer d-none  d-md-block">
                                                <div class="pro-btns d-flex justify-content-between ">
                                                    @*<div class="wish mr-3">
                                                            <a href="#"><i class="far  fa-heart"></i></a>
                                                        </div>*@
                                                    <div class="quickView d-none  d-md-block mr-3">
                                                        <a class="showModal open-qv" href="#" data-toggle="modal"
                                                           data-target=".quickViewModal"><i class="fas fa-search"></i></a>
                                                    </div>
                                                    <div class="add-to-card mr-1 ">
                                                        <a href="#" data-id="@item.Id"
                                                           class="minicart-btn minicartBtn open-card btn btn-cart2">
                                                            <i class="fa fa-cart-arrow-down"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer  d-lg-none  d-md-block ">
                                                <div class="pro-btns d-flex justify-content-end">

                                                    <div class="add-to-card mr-1 ">
                                                        <a href="#" data-id="@item.Id"
                                                           class="minicart-btn minicartBtn open-card btn btn-cart2">
                                                            <i class="fa fa-cart-arrow-down"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- #endregion product single  -->
                                }
                            </div>
                            <div class="row justify-content-center mt-5  mb-5">
                                <a href="@Url.Action("Index","Shop")" class="btn-hero" tabindex="0">view more</a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- #endregion SALE product area start -->
            </div>
            <div class="tab js-tabs-content" id="tab-3">
                <!--#region NEW product area start -->
                <section>
                    <div class="container cta-100 ">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="section-title text-center mb-5">
                                        <h2>New Products</h2>
                                        <p>Accumsan vitae pede lacus ut ullamcorper sollicitudin quisque libero</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @foreach (var item in Model.ProductsNews)
                                {
                                    <!-- region product single  -->
                                    <div class="col-lg-4 col-md-6 mb-4 product-single"
                                         data-id="@item.Id"
                                         data-photo="/Public/images/@item.ImageS"
                                         data-image="/Public/images/@item.ImageL"
                                         data-model="@item.Brand  @item.Category.Name @item.Model"
                                         data-name="@item.Brand @item.Model"
                                         data-category="@item.Category.Name.Replace(" ","-")"
                                         data-href="@item.Model.Replace(" ","-")"
                                         data-storage="@item.Storage"
                                         data-memory="@item.Memory"
                                         data-display="@item.Display"
                                         data-processor="@item.Processor"
                                         data-graphic="@item.Graphic"
                                         data-dimensions="@item.Dimensions"
                                         data-weight="@item.Weight"
                                         data-discount="@item.Discount"
                                         data-system="@item.OperatingSystem"
                                         data-price="@item.Price.ToString("##.##")">
                                        <div class="card h-100">
                                            <div class="card-header border-0 d-flex">
                                                @if (item.IsNew)
                                                {
                                                    <div class="product-label new mr-3">
                                                        <span>new</span>
                                                    </div>
                                                }
                                                @if (item.Discount != 0)
                                                {
                                                    <div class="product-label discount">
                                                        <span>@item.Discount %</span>
                                                    </div>
                                                }
                                                <div class="product-label discount ml-3">
                                                    <span>@item.Display</span>
                                                </div>
                                            </div>
                                            <a href="/product/name-@item.Category.Name.Replace(" ","")-@item.Model.Replace(" ","")/@item.Id">
                                                <img src="~/Public/images/@item.ImageL" alt="laptop" class="card-img-top">
                                            </a>
                                            <div class="card-body">
                                                <div class="product-caption card-text">
                                                    <div class="row">
                                                        <p class="product-name font-weight-bold ">
                                                            <a href="/product/name-@item.Category.Name.Replace(" ","")-@item.Model.Replace(" ","")/@item.Id">@item.Brand @item.Category.Name <br />@item.Model</a>
                                                        </p>
                                                        <p class="product-name ">
                                                            @item.Processor, @item.Memory, @item.Storage, @item.OperatingSystem, @item.Display
                                                        </p>
                                                    </div>
                                                    <div class="row">
                                                        <div class="price-box">

                                                            @if (item.Discount != 0)
                                                            {
                                                                <span class="price-regular">$@((item.Price - (item.Price * item.Discount / 100)).ToString("##.###") )</span>
                                                                <span class="price-old"><del>$@(item.Price.ToString("##.###"))</del></span>
                                                            }
                                                            else
                                                            {
                                                                <span class="price-regular">$@(item.Price.ToString("##.###"))</span>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer d-none  d-md-block">
                                                <div class="pro-btns d-flex justify-content-between ">
                                                    @*<div class="wish mr-3">
                                                            <a href="#"><i class="far  fa-heart"></i></a>
                                                        </div>*@
                                                    <div class="quickView d-none  d-md-block mr-3">
                                                        <a class="showModal open-qv" href="#" data-toggle="modal"
                                                           data-target=".quickViewModal"><i class="fas fa-search"></i></a>
                                                    </div>
                                                    <div class="add-to-card mr-1 ">
                                                        <a href="#" data-id="@item.Id"
                                                           class="minicart-btn minicartBtn open-card btn btn-cart2">
                                                            <i class="fa fa-cart-arrow-down"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer  d-lg-none  d-md-block ">
                                                <div class="pro-btns d-flex justify-content-end">

                                                    <div class="add-to-card mr-1 ">
                                                        <a href="#" data-id="@item.Id"
                                                           class="minicart-btn minicartBtn open-card btn btn-cart2">
                                                            <i class="fa fa-cart-arrow-down"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- #endregion product single  -->
                                }
                            </div>
                            <div class="row justify-content-center mt-5  mb-5">
                                <a href="@Url.Action("Index","Shop")" class="btn-hero" tabindex="0">view more</a>
                            </div>
                        </div>
                    </div>
                </section>
                <!--#endregion NEW product area start -->
            </div>
        </div>
    </div>

    <!-- <div class="animated bounce delay-2s">Example</div> -->
</section>
<!-- #endregion tab section new trend sales -->
<!-- #region service policy start -->
<section class="service-policy-area section-space ">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <!-- start policy single item -->
                <div class="service-policy-item">
                    <div class="icons">
                        <img src="~/Public/template/images/icon/free_shipping.png" alt="">
                    </div>
                    <h5>free shipping</h5>
                    <p>Free shipping all order</p>
                </div>
                <!-- end policy single item -->
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- start policy single item -->
                <div class="service-policy-item">
                    <div class="icons">
                        <img src="~/Public/template/images/icon/money_back.png" alt="">
                    </div>
                    <h5>Money Return</h5>
                    <p>30 days for free return</p>
                </div>
                <!-- end policy single item -->
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- start policy single item -->
                <div class="service-policy-item">
                    <div class="icons">
                        <img src="~/Public/template/images/icon/support247.png" alt="">
                    </div>
                    <h5>Online Support</h5>
                    <p>Support 24 hours a day</p>
                </div>
                <!-- end policy single item -->
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- start policy single item -->
                <div class="service-policy-item">
                    <div class="icons">
                        <img src="~/Public/template/images/icon/promotions.png" alt="">
                    </div>
                    <h5>Deals & Promotions</h5>
                    <p>Price savings, discounts</p>
                </div>
                <!-- end policy single item -->
            </div>
        </div>
    </div>
</section>
<!--#endregion service policy end -->
<!-- #region blog -->
<section class="section-space">
    <div class="container">
        <!-- #region section title -->
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2>From The Blog</h2>
                    <p>Accumsan vitae pede lacus ut ullamcorper sollicitudin quisque libero</p>
                </div>
            </div>
        </div>
        <!-- #endregion section title -->
        <!-- #region section content -->
        <div class="row">
            <div class="card-columns">
                @foreach (var item in Model.Blogs)
                {
                    <!-- #region blog single card -->
                    <div class="card shadow border-0">
                        <a href="/BlogDetails/Index/@item.Id">
                            <img src="~/Public/images/@item.ImageL" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <a href="/BlogDetails/Index/@item.Id">
                                <h5 class="card-title">@item.Name</h5>
                            </a>
                            <p class="card-text">@item.Title</p>
                            <p class="card-text"><small class="text-muted">@item.CreateAt</small></p>
                        </div>
                    </div>
                    <!-- #endregion blog single card -->
                }
            </div>
        </div>
        <!-- #endregion section content -->
        <!-- #region section button readmore -->
        <div class="row justify-content-center mt-4 mb-5">
            <a href="@Url.Action("Index","Blog")" class="btn-hero" tabindex="0">read more</a>
        </div>
        <!-- #endregion section button readmore -->

    </div>
</section>
<!-- #endregion blog -->
<!-- #region Quick view modal start -->
@Html.Partial("_QuickView")
<!-- #endregion  Quick view modal end -->
