@model AsusLaptop.Models.ViewModel.BlogVM
@{
    ViewBag.Title = "Blog Details";
}

<!-- #region static banner -->
<section style=" background-color: rgb(15, 14, 14,0.1234);">
    <div class="breadcrumb-area common-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <h1>blog details</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Blog")">blog</a></li>
                                <li class="breadcrumb-item active" aria-current="page">blog details</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #endregion banner-->
<!-- region blog -->
<!-- blog main wrapper start -->
<div class="blog-main-wrapper section-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2">
                <div class="blog-sidebar-wrapper">
                    <!-- single sidebar end -->
                    <div class="blog-sidebar">
                        <h3 class="title">recent post</h3>
                        <div class="recent-post">
                            @foreach (var item in Model.BlogDesc)
                            {
                                <div class="recent-post-item">
                                    <figure class="product-thumb">
                                        <a href="#">
                                            <img src="~/Public/img/@Model.Blog.ImageL" alt="blog image">
                                        </a>
                                    </figure>
                                    <div class="recent-post-description">
                                        <div class="product-name">
                                            <h4><a href="#">@Model.Blog.Name</a></h4>
                                            <p>march 10 2019</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- single sidebar end -->

                </div>
            </div>
            <div class="col-lg-9 order-1">
                <div class="blog-item-wrapper">
                    <!-- blog post item start -->
                    <div class="blog-post-item blog-details-post">
                        <figure class="blog-thumb">
                            <a href="blog-details.html">
                                <img src="~/Public/img/@Model.Blog.ImageL" alt="blog image">
                            </a>
                        </figure>
                        <div class="blog-content">
                            <h3 class="blog-title blog-title-large">
                               @Model.Blog.Title
                            </h3>
                            <div class="blog-meta">
                                <p>@Model.Blog.CreateAt | Asus</p>
                            </div>
                            <div class="entry-summary">
                                
                                <blockquote>
                                    <p>
                                        @Model.Blog.Description
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <!-- blog post item end -->




                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog main wrapper end -->
<!-- #endregion blog -->
