@model IEnumerable<AsusLaptop.Models.Product>
@{
    ViewBag.Title = "Index";
}

<!-- #region static banner -->
<section style=" background-color: rgb(15, 14, 14,0.1234);">
    <div class="breadcrumb-area common-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <h1>compare</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i></a>
                                </li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Shop")">shop</a></li>
                                <li class="breadcrumb-item active" aria-current="page">compare</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #endregion banner-->
<!-- region compare main wrapper start -->
<div class="compare-page-wrapper section-space">
    <div class="container-fluid">
        <div class="section-bg-color">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Compare Page Content Start -->
                    <div class="compare-page-content-wrap">
                        <div class="compare-table table-responsive">
                            <table class="table table-bordered mb-0">
                                <tbody>
                                    <!-- first line product images name -->
                                    <tr>
                                        <td class="first-column">Product</td>
                                        @foreach (var item in Model)
                                        {
                                            <td class="product-image-title">
                                                <a href="product-details.html" class="image">
                                                    <img class="img-fluid" src="~/Public/images/@item.ImageS"
                                                         alt="Compare Product">
                                                </a>
                                                <a href="#" class="category">@item.Category.Name </a>
                                                <a href="product-details.html" class="title">@item.Model</a>
                                            </td>
                                        }
                                    </tr>
                                    <!-- first line product images name -->
                                    <!-- third line price -->
                                    <tr>
                                        <td class="first-column"><b>Price</b> </td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.Discount != 0)
                                            {
                                                <td>
                                                    <span class="price-regular">$@((item.Price - (item.Price * item.Discount / 100)).ToString("##.###") )</span>
                                                    <span class="price-old"><del>$@(item.Price.ToString("##.###"))</del></span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td> <span class="price-regular">$@(item.Price.ToString("##.###"))</span></td>
                                            }
                                        }
                                    </tr>
                                    <!-- third line price -->
                                    <tr>
                                        <td class="first-column"><b>Processor</b> </td>
                                        @foreach (var item in Model)
                                        {
                                            <td class="pro-color">
                                                @item.Processor
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td class="first-column"><b>Operating System</b> </td>
                                        @foreach (var item in Model)
                                        {
                                            <td class="pro-color">
                                                @item.OperatingSystem
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td class="first-column"><b>Memory</b> </td>
                                        @foreach (var item in Model)
                                        {
                                            <td class="pro-color">
                                                @item.Memory
                                            </td>
                                        }

                                    </tr>
                                    <tr>
                                        <td class="first-column"><b>Graphic</b> </td>
                                        @foreach (var item in Model)
                                        {
                                            <td class="pro-color">
                                                @item.Graphic
                                            </td>
                                        }

                                    </tr>
                                    <tr>
                                        <td class="first-column"><b>Display</b> </td>
                                        @foreach (var item in Model)
                                        {
                                            <td class="pro-color">
                                                @item.Display
                                            </td>
                                        }

                                    </tr>
                                    <tr>
                                        <td class="first-column"><b>Storage</b> </td>
                                        @foreach (var item in Model)
                                        {
                                            <td class="pro-color">
                                                @item.Storage
                                            </td>
                                        }

                                    </tr>

                                    <tr>
                                        <td class="first-column"><b>Weight</b></td>
                                        @foreach (var item in Model)
                                        {
                                            <td class="pro-color">
                                                @item.Weight
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td class="first-column"><b>Networking</b> </td>
                                        @foreach (var item in Model)
                                        {
                                            <td class="pro-color">
                                                @item.Wireless
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td class="first-column"><b>Ports</b> </td>
                                        @foreach (var item in Model)
                                        {
                                            <td class="pro-color">
                                                @item.Ports
                                            </td>
                                        }
                                    </tr>

                                    <tr>
                                        <td class="first-column"><b>Dimensions</b> </td>
                                        @foreach (var item in Model)
                                        {
                                            <td class="pro-color">
                                                @item.Dimensions
                                            </td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Compare Page Content End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--#endregion compare main wrapper end -->
