@model IEnumerable<AsusLaptop.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            <div class=" d-flex justify-content-between">
                <h4 class="header-title">@ViewBag.Title</h4>
                <p>
                    <a href="@Url.Action("Create","Categories")" class="text-danger btn btn-dark">Create New Categories</a>
                </p>
            </div>

            <div class="single-table">
                <div class="table-responsive">
                    <table class="table table-hover progress-table text-center">
                        <thead class="text-uppercase">
                            <tr>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @if (item.Status)
                                        {
                                            <span class="alert alert-success">Active</span>
                                        }
                                        else
                                        {
                                            <span class="alert alert-info">Passive</span>
                                        }
                                    </td>
                                    <td>
                                        <ul class="d-flex justify-content-center">
                                            <li class="mr-3">

                                                <a href="@Url.Action("Edit","Categories",new {id=item.Id })" class="text-secondary"><i class="fa fa-edit"></i></a>
                                            </li>

                                            <li>
                                                <a href="@Url.Action("Delete","Categories",new {id=item.Id })" class="text-danger delete"><i class="ti-trash"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

