@using AsusLaptop.Hepler;
@model IEnumerable<AsusLaptop.Models.UserApp>

@{
    ViewBag.Title = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    bool IsAdmin =User.IsInRole("admin");
}

<div class="col-12 mt-5">
    <div class="card">
        <div class="card-header">
            <p>
                <a href="@Url.Action("Create","Users")" class="text-danger btn btn-dark">Create New @ViewBag.Title</a>
            </p>
        </div>
        <div class="card-body">
            <div class=" d-flex justify-content-between">
                <h4 class="header-title">@ViewBag.Title</h4>
                @*<p>
                    <a href="@Url.Action("Create","Users")" class="text-danger btn btn-dark">Create New User</a>
                </p>*@
            </div>

            <div class="single-table">
                <div class="table-responsive">
                    <table id="dataTable" class="table table-hover progress-table text-center">
                        <thead class="text-uppercase">
                            <tr>

                                <th scope="col">Fullname</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone number</th>
                                <th scope="col">Roles</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Fullname))
                                    {
                                        @item.Fullname
                                    }
                                    else
                                    {
                                        @item.Email
                                    }
                                </td>
                                <td>@item.UserName</td>

                                <td>@item.Email</td>
                                <td>@item.PhoneNumber</td>
                                <td class="text-nowrap">
                                    @if (item.Roles.Any())
                                    {
                                        <text>@string.Join(" ,", item.Roles.Select(u => Helper.GetRoleName(u.RoleId)).ToArray())</text>

                                    }
                                    else
                                    {
                                        <span class="text-danger alert alert-warning">There is no role for this User</span>
                                    }
                                </td>
                                <td class="text-nowrap">
                                    @if (item.Status)
                                    {
                                        <span class="alert alert-success">Active</span>
                                    }
                                    else
                                    {
                                        <span class="alert alert-info">Passive</span>
                                    }
                                    @if (item.Token != null)
                                    {
                                        <span class="alert alert-danger">Invited, Not Approved</span>
                                    }
                                </td>
                                <td>
                                    <ul class="d-flex justify-content-center">
                                        @if (User.IsInRole("admin"))
                                        {
                                            if (item.Roles.Select(r => Helper.GetRoleName(r.RoleId)).Contains("admin"))
                                            {
                                                <li class="mr-3">

                                                    <a href="@Url.Action("Edit", "Users", new { id = item.Id })" class="text-secondary"><i class="fa fa-edit"></i></a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="mr-3">

                                                    <a href="@Url.Action("Edit", "Users", new { id = item.Id })" class="text-secondary"><i class="fa fa-edit"></i></a>
                                                </li>

                                                <li>
                                                    <a href="@Url.Action("Delete", "Users", new { id = item.Id })" class="text-danger delete"><i class="ti-trash"></i></a>
                                                </li>
                                            }

                                        }
                                    </ul>
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

}
@section scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            if ($('#dataTable').length) {
                $('#dataTable').DataTable({
                    responsive: true
                });
            }
        });
    </script>
}